{% set categories =  collections.categoryList %}
<nav role="navigation" aria-label="category navigation" >
  <span>Filter posts by category:</span>
  <ul>
    <li class="category__link {{ ' active' if page.url == '/projects/'}}">
      <a class="category__link" 
        href="/projects"
        {{ "aria-current" if page.url === "/projects/" }}
          >all</a>
    </li>
    {%- for category in categories %}
    {% set catUrl = ["/projects/", category.key, "/" ] |  join %}
    <li class="category__link {{ ' active' if page.url == catUrl }}">
      <a href="{{ catUrl }}"
      {{ "aria-current" if page.url == catUrl }}>
        {{ category.key }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</nav>