* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 21px;
  // text-transform: lowercase;
  background-color: $light-shade;
  color: $dark-shade;
  font-family: $main-font;
  scroll-behavior: smooth;

  /* Better Font Rendering =========== */
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 140%;
  padding: 1rem;

  footer {
    justify-self: flex-end;

    p {
      font-size: 0.8rem;
      line-height: 100%;
      margin-bottom: 0rem;
      text-align: left;
    }
  }

}

h1 {
  font-family: $main-font;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 100%;
  font-weight: normal;

  em {
    color: $lightest-shade;
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: $lightest-shade;
  font-family: $main-font;
  line-height: 100%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  font-weight: normal;
}


p {
  margin-bottom: 0rem;
}


// img {
//   margin-left: auto;
//   margin-right: auto;
//   max-height: 80vh;
//   width: auto;
//   max-width: 100%;
// }

.project {
  .info {
    border-bottom: 1px solid $lighter-shade;
  }
  h3, p {
    font-size: 0.8rem;
    display: inline;
  }
  p {
    color: $lighter-shade;
  }

}

img.large {
  max-width: 50rem;
  height: auto;
}

img.medium {
  max-height: 40rem;
  width: auto;
}

img.regular {
  max-width: 30rem;
  height: auto;
}

img.small {
  max-height: 20rem;
  width: auto;
}

@media (max-width: 640px) {

  html,
  body {
    font-size: 16px;
  }

  img.large,
  img.medium,
  img.regular,
  img.small {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}

a {
  text-decoration: none;
  color: $darker-accent;
  
  h4 {
    color: $accent-shade;
  }
}

a:hover {
  color: $accent-shade;
}


nav {
  ul {
    list-style: none;
  }
}

main {
  flex: 0 1 100%;

  p {
    em {
      color: $lighter-shade;
    }
  }

  &:not(nav) {
    ul {
      margin: 0rem 0 1rem 1rem;
    }
  }

  nav ul {
    margin: 1rem 0 1rem 0;
  }
}


nav ul li {
  display: inline-block;

  +li {
    margin-left: 1rem;
  }

  &.active a {
    text-decoration: underline;
  }
}



figure {
  padding: 0;
  margin-bottom: 2rem;
  display: inline-block;
  vertical-align: top;

  h4 {
    line-height: 100%;
    margin-bottom: 0rem;
  }

  p {
    margin-bottom: 0rem;
  }
}

figcaption {
  display: flex;
  justify-content: space-between;
}

.slider {
  margin: auto;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-height: 40rem;
}

button {
  background-color: transparent;
  border: none;
  touch-action: manipulation;
  padding: 0rem;
  font-size: 2rem;
}

.arrow {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  font-size: 2rem;
  color: white;
  mix-blend-mode: difference;
}

.arrow-left:hover {
  text-decoration: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='45' height='54' viewport='0 0 100 100' style='fill:black;font-size:27px;'><text y='50%'>←</text></svg>")16 0, auto;
}

.arrow-right:hover {
  text-decoration: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='45' height='54' viewport='0 0 100 100' style='fill:black;font-size:27px;'><text y='50%'>→</text></svg>") 16 0, auto;
}

.arrow-right {
  right: 0;
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.arrow-left {
  left: 0;
  outline: 0;
  border: none;
  -moz-outline-style: none;
}




.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}