* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  // text-transform: lowercase;
  background-color: $light-shade;
  color: $dark-shade;
  font-family: $main-font;
  scroll-behavior: smooth;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  line-height: 140%;
  padding: 1rem;

  footer {
    justify-self: flex-end;

    p {
      font-size: 0.8rem;
      margin-bottom: 0rem;
      text-align: left;
    }
  }

}

h1 {
  font-family: $accent-font;
  line-height: 100%;
  margin-bottom: 1rem;
  font-weight: normal;

  em {
    color: $lightest-shade;
  }
}

h2, h3, h4, h5, h6 {
  font-family: $accent-font;
  line-height: 140%;
  margin-bottom: 1rem;
  font-weight: normal;
}

p {
  margin-bottom: 1rem;
}

img.large {
  max-width: 50rem;
  height: auto;
}

img.medium {
  max-height: 40rem;
  width: auto;
}

img.regular {
  max-width: 30rem;
  height: auto;
}

img.small {
  max-height: 20rem;
  width: auto;
}

@media (max-width: 640px) {
  img.large, img.medium, img.regular, img.small {
      width: 100%;
      height: auto;
      max-height: 100%;
  }
}

a {
  color: $accent-shade;
  text-decoration: none;
  h4 {
    color: $accent-shade;
  }
}


nav {
  ul {
    list-style: none;
  }
}

main {
  flex: 0 1 100%;

  p {
    max-width: 50rem;
    em {
      color: $lighter-shade;
    }
  }

  &:not(nav) {
    ul {
      margin: 1rem 0 1rem 1rem;
    }
  }

  nav ul {
    margin: 1rem 0 1rem 0;
  }
}


nav ul li {
  display: inline-block;
  
  + li {
    margin-left: 1rem;
  }

  &.active a {
    text-decoration: underline;
  }
}



figure {
  padding: 0;
  margin-bottom: 2rem;
  display: inline-block;
  vertical-align: top;

  h4 {
    line-height: 100%;
    margin-bottom: 0rem;
  }

  p {
    margin-bottom: 0rem;
  }
}

figcaption {
  display: flex;
  justify-content: space-between;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
