
@font-face {
    font-family: 'Akt';
    src: url('/assets/fonts/Akt-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'AktSC';
    src: url('/assets/fonts/AktSC-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}




$main-font: 'Akt','Arial','Helvetica',sans-serif;
$accent-font: 'AktSC','Arial','Helvetica',sans-serif;

/* Colours */
$light-shade: #fafafa;
$dark-shade: #202020;
$lighter-shade: darken($light-shade, 30%);
$lightest-shade: darken($light-shade, 20%);
$accent-shade:#60A710;
$darker-accent: darken($accent-shade, 5%);

/*========================================*/




