$main-font: serif;
$accent-font: 'Arial','Helvetica',sans-serif;

/* Colours */
$light-shade: #fafafa;
$dark-shade: #202020;
$lighter-shade: darken($light-shade, 30%);
$lightest-shade: darken($light-shade, 10%);
$accent-shade:#60A710;

/*========================================*/




